#sale-header{
    font-weight: 450;
    background-color: #f50505;
    color: #000000;
    font-size: 1rem;
}

#sale-text{
    margin: auto;
    padding: 1rem;
    text-align: right;
    font-size: 18px;
}

#logo{
    font-size: 32px;
    text-align: center;
    margin-bottom: 2px;
    padding-right: 1.5rem;
    font-weight: 525;
    font-family:'Times New Roman', Times, serif;
}

#section-one{
    font-size: 4rem;
    padding-top: 6rem;
    font-family: 'Times New Roman', Times, serif;
}

#section-text{
    padding-top: 2rem;
    font-family: 'Times New Roman', Times, serif;
}